* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100% !important;
  background: #f3f5f8;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  color: #222;
  font: 14px 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
